* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    background-image: url(../Media/1372963.png);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.judul {
    color: white;
}



.container-navbar .judul-pertama {
    font-size: 16px
}

.container-navbar .judul-akhir {
    color: goldenrod;
    font-weight: 20px;
}

.container-navbar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    background: transparent;
    backdrop-filter: blur(10px);
    background: rgba(0, 0, 0, 0.5);
    height: 10%;
    flex-wrap: wrap;
}

.container-navbar .menu ul {
    display: flex;
}

.container-navbar .menu ul li {
    list-style: none;
    padding: 5px;
    margin-right: 10px;
    flex-wrap: wrap;
    
}

.container-navbar .menu ul li:hover {
    border-bottom: 1px solid white;

}

.container-navbar .menu ul li a {
    text-decoration: none;
    color: black;
    /* background-color: white; */
    color: white;
    padding: 10px;
    font-weight: bold;
}

.container-article .judul-article {
    text-align: center;
    margin-top: 30px;
}

.container-article hr {
    border: 2px solid goldenrod;
    width: 25%;
    margin: auto;
    border-radius: 10px;
    margin-top: 5px;

}

.publish-article p {
    font-size: 15px;
    text-align: center;
    margin-top: 10px;
}

.article {
    margin-top: 30px;
    padding: 30px;
    background-color: ghostwhite;
    margin-bottom: 30px;
}

.container-footer {
    background-color: rgb(81, 81, 81);
    width: 100%;
    color: white;
    text-align: center;
    padding: 10px;

}